<div class="row h-100 d-flex align-items-center">
  <div class="col-12 col-md-6 col-xl-4 mx-auto">
    <form [formGroup]="form" (submit)="onSubmit()">
      <nb-card [nbSpinner]="loading" nbSpinnerStatus="warning" nbSpinnerMessage="Aguarde...">
        <nb-card-header>Login</nb-card-header>
        <nb-card-body>
          <div class="form-group">
            <label for="inputEmail">Email<span class="text-danger">*</span></label>
            <input type="email" class="form-control" formControlName="email" id="inputEmail" placeholder="Ex. email@brasal.com.br" autocomplete="off">
          </div>
          <div class="form-group">
            <label for="inputPassword">Senha<span class="text-danger">*</span></label>
            <input type="password" class="form-control" formControlName="password" id="inputPassword" autocomplete="off">
          </div>
          <div class="row">
            <div class="col-12 d-flex justify-content-end">
              <nb-checkbox status="info" formControlName="remember">Lembrar</nb-checkbox>
            </div>
          </div>
        </nb-card-body>
        <nb-card-footer>
          <div class="row d-flex justify-content-between">
            <div class="col-12">
              <button nbButton type="submit" status="success" [disabled]="loading" fullWidth>Login</button>
            </div>
          </div>
        </nb-card-footer>
      </nb-card>
    </form>
  </div>
</div>
