<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="col">
        Usuários
      </div>
      <div class="col-3 col-xl-2">
        <button (click)="open(content)" fullWidth nbButton status="info">
          <nb-icon icon="info-outline"></nb-icon>
          PFX
        </button>
      </div>
      <div class="col-3 col-xl-2">
        <button (click)="cadastraEmpresa()" fullWidth nbButton status="success">
          <nb-icon icon="plus-circle-outline"></nb-icon>
          Cadastrar
        </button>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>

    <p-table [columns]="cols" [loading]="loading.empresas" [responsive]="true" [showLoader]="loading.empresas"
             [value]="empresas" class="p-datatable-responsive" dataKey="id">
      <ng-template let-columns pTemplate="header">
        <tr>
          <th *ngFor="let col of columns">
            {{col.header}}
          </th>
          <th style="width: 240px;">&nbsp;</th>
        </tr>
      </ng-template>
      <ng-template let-columns="columns" let-rowData pTemplate="body">
        <tr>
          <td *ngFor="let col of columns" [ngSwitch]="col.type">
            <span class="p-column-title">{{col.header}}</span>
            <ng-template ngSwitchDefault>
              {{rowData[col.field]}}
            </ng-template>
            <ng-template ngSwitchCase="date">
              {{rowData[col.field] | date : 'dd/MM/yyyy'}}
            </ng-template>
            <ng-template ngSwitchCase="mask">
              {{rowData[col.field] | mask : '00.000.000/0000-00'}}
            </ng-template>
          </td>
          <td class="d-flex justify-content-end">
            <div aria-label="Basic example" class="btn-group" role="group">
              <button (click)="editarEmpresa(rowData)" class="btn" nbButton size="small" status="info" type="button">
                <nb-icon icon="edit-outline"></nb-icon>&nbsp;Editar
              </button>
              <button (click)="deleteEmpresa(rowData.id)" class="btn" nbButton size="small" status="danger"
                      type="button">
                <nb-icon icon="edit-outline"></nb-icon>&nbsp;Excluir
              </button>
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="loading">
        <tr>
          <th class="text-center" colspan="{{cols.length + 1}}">
            Carregando Aguarde...
          </th>
        </tr>
      </ng-template>
    </p-table>
  </nb-card-body>
  <nb-card-footer>Total de usuários: {{empresas ? empresas.length : 0}}</nb-card-footer>
</nb-card>

<p-confirmDialog></p-confirmDialog>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Atenção</h4>
    <button (click)="modal.dismiss('close')" aria-label="Close" class="close" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h4>Como Converter .PFX em .pem e .key</h4>
    <p>
      Para configurar uma nova empresa ou atualizar uma ja existente, é necessário seguir os passos abaixo:
    </p>
    <ol>
      <li>Faça o Download do <a href="https://slproweb.com/products/Win32OpenSSL.html" target="_blank">WinOpenSSL</a>.
        <span class="text-warning">atenção efetue o download da versão compativel com seu Windows X64 ou X32</span></li>
      <li>Efetue a instalação normalmente.</li>
      <li>
        Adicione a seguinte linha no Path Windows:<br>
        "C:\Program Files\OpenSSL-Win64\bin"
      </li>
      <li>
        Abra o cmd e navegue ate sua area de trabalho e crie um pasta na sua area de trabalho chamada "certs".<br>
        <pre>
          cd C:\Users\"SEU_USUARIO"\Desktop
          mkdir certs
          cd certs
        </pre>
      </li>
      <li>
        Cole o certificado PFX dentro da pasta chamada certs na area de trabalho
      </li>
      <li>
        Execute os comandos abaixo um de cada vez.
        <span class="text-warning">atenção é necessário possuir a senha do certificado digital para executa-los.</span>
        <pre>
          openssl pkcs12 -in brasal.pfx -out brasal.tpem -nodes
          openssl rsa -in brasal.tpem -out brasal.key
          openssl pkcs12 -in brasal.pfx -clcerts -nokeys -out brasal.pem
        </pre>
      </li>
      <li>
        Em seguida caso tudo tenha corrido bem, a pasta que voce criou deve conter 4 arquivo sendo eles: <br>
        brasal.pfx = Chave privada e-cnpj (nao sera usado) <br>
        brasal.tpem = Chave de troca (nao sera usado) <br>
        brasal.key = chave de autenticação SSL <br>
        brasal.pem = chave privada SSL <br>
        Tudo certo agora basta voce inserir dentro do cadastro ou edição da empresa.
      </li>
    </ol>

  </div>
</ng-template>

