nb-layout-column {
  background: url("/assets/imgs/t-cross-brasil.jpg") center center no-repeat;
  background-size: cover;
  position: relative;
  z-index: 4;
  &:after {
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0,0,0,.6);
    z-index: 5;
  }
  &div {
    position: relative;
    z-index: 6;
  }
}
