<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="col">
        Usuários
      </div>
      <div class="col-3 col-xl-2">
        <button nbButton status="success" (click)="editarUsuario(null)" fullWidth>
          <nb-icon icon="plus-circle-outline"></nb-icon> Cadastrar
        </button>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>

    <p-table [columns]="cols" [value]="usuarios" [loading]="loading" [showLoader]="false" dataKey="id">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns">
            {{col.header}}
          </th>
          <th style="width: 300px;">&nbsp;</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td *ngFor="let col of columns">
            {{rowData[col.field]}}
          </td>
          <td class="d-flex justify-content-end">
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn" nbButton status="info" size="small" (click)="editarUsuario(rowData)">
                <nb-icon icon="edit-outline"></nb-icon>&nbsp;Editar
              </button>
              <button type="button" class="btn" nbButton status="danger" size="small" (click)="deleteUSuario()">
                <nb-icon icon="edit-outline"></nb-icon>&nbsp;Excluir
              </button>
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="loading">
        <tr>
          <th colspan="{{cols.length + 1}}" class="text-center">
            Carregando Aguarde...
          </th>
        </tr>
      </ng-template>
    </p-table>
  </nb-card-body>
  <nb-card-footer>Total de usuários: {{usuarios ? usuarios.length : 0}}</nb-card-footer>
</nb-card>

<p-confirmDialog></p-confirmDialog>
