<form [formGroup]="form" (submit)="onSubmit()">
  <div class="row">
    <div class="col-12 col-md-8 col-lg-6 mx-auto">
      <nb-card [nbSpinner]="loading.crlv" [nbSpinnerMessage]="'Consultando CRLV do veiculo. Aguarde...'">
        <nb-card-header>Gerar CRLV</nb-card-header>
        <nb-card-body>

          <div class="row">
            <div class="col-12 mb-4">
              <label for="companies">Empresa:<span class="text-danger">*</span></label>
              <ng-select
                [items]="empresas"
                [loading]="loading.empresas"
                loadingText="Carregando..."
                bindLabel="name"
                bindValue="id"
                appendTo="body"
                id="companies"
                formControlName="company"
              ></ng-select>
            </div>
          </div>

          <div class="form-group">
            <label>CNPJ Filial: <span class="text-info">Opcional</span></label>
            <input type="text" id="filial" name="filial" mask="00.000.000/0000-00" [dropSpecialCharacters]="true" formControlName="filial" placeholder="00.000.000/0000-00" nbInput fullWidth autocomplete="off">
            <small class="form-text text-muted">Para consultar veiculos relacionados a uma empresa filial este campo é obrigatório</small>
          </div>

          <div class="form-group">
            <label>Placa:<span class="text-danger">*</span></label>
            <input
              class="form-control text-uppercase"
              mask="SSS-0A00"
              placeholder="Ex. AAA-0B23"
              type="text"
              formControlName="placa"
              autocomplete="off"
              nbInput
              fullWidth
            >
            <small class="form-text text-muted">Informe a placa do veiculo.</small>
          </div>

          <div class="form-group">
            <label>Renavam:<span class="text-danger">*</span></label>
            <input
              class="form-control text-uppercase"
              mask="AAAAAAAAAAAAAAAA"
              placeholder="Ex. 71889242967"
              type="text"
              formControlName="renavam"
              autocomplete="off"
              nbInput
              fullWidth
            >
            <small class="form-text text-muted">Informe o renavam do veiculo.</small>
          </div>

        </nb-card-body>
        <nb-card-footer>
          <button nbButton status="success" fullWidth>Consultar</button>
        </nb-card-footer>
      </nb-card>
    </div>
  </div>
</form>
