@import 'themes';

@import '~@nebular/theme/styles/globals';

@include nb-install() {
  @include nb-theme-global();
};
/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import "~@ng-select/ng-select/themes/default.theme.css";

.ng-select .ng-select-container {
  background-color: #f7f9fc!important;
  border-color: #e4e9f2!important;
  //height: 40px!important;
  //font-size: 0.9375rem;
  //font-weight: 600;
  //line-height: 1.5rem;
  //padding: 0.4375rem .4rem 0.4375rem 1rem;
  //border-radius: 0.25rem;
}

.cdk-overlay-pane.model-full {
  width: 100%;
  nb-dialog-container {
    width: 100%;
  }
}

.ng-invalid.ng-touched {
  border-color: red!important;
}

@media screen and (max-width: 760px) {
  .p-datatable {
    &.p-datatable-responsive {
      .p-datatable-thead > tr > th,
      .p-datatable-tfoot > tr > td {
        display: none !important;
      }

      .p-datatable-tbody {
        tr {
          border-left: 1px solid #dee2e6 !important;
          border-right: 1px solid #dee2e6 !important;
          &:first-child {
            border-top: 1px solid #dee2e6;
          }
          td {
            text-align: left;
            display: block;
            width: 100%;
            float: left;
            clear: left;
            border-bottom: 1px solid #dee2e6 !important;

            .p-column-title {
              padding: .4rem;
              min-width: 30%;
              display: inline-block;
              margin: -.4em 1em -.4em -.4rem;
              font-weight: bold;
            }
            div.btn-group {
              width: 100%;
            }

            //&:last-child {
            //  border-bottom: 1px solid #dee2e6;
            //}
          }
        }
      }
    }
  }
}
