@import 'themes';

@import '~@nebular/theme/styles/globals';

@include nb-install() {
  @include nb-theme-global();
};
/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import "~@ng-select/ng-select/themes/default.theme.css";

.ng-select .ng-select-container {
  background-color: #f7f9fc!important;
  border-color: #e4e9f2!important;
  //height: 40px!important;
  //font-size: 0.9375rem;
  //font-weight: 600;
  //line-height: 1.5rem;
  //padding: 0.4375rem .4rem 0.4375rem 1rem;
  //border-radius: 0.25rem;
}

.cdk-overlay-pane.model-full {
  width: 100%;
  nb-dialog-container {
    width: 100%;
  }
}

.ng-invalid.ng-touched {
  border-color: red!important;
}
